apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-springboot-hello-qnbe
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-springboot-hello-qnbe
    app.kubernetes.io/part-of: accounting
  name: java-springboot-hello-qnbe
  namespace: burrzinga-tenant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-springboot-app
      app.kubernetes.io/instance: java-springboot-hello-qnbe
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-springboot-app
        app.kubernetes.io/instance: java-springboot-hello-qnbe
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:1fb2ba356e04ff2a6f7d96045a50dca8e39e02459fda2735448eca782ffd5645
        name: my-java-springboot
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 300Mi
          requests:
            cpu: 10m
            memory: 180Mi
status: {}
