apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: java-springboot-hello-qnbe
  namespace: burrzinga-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:1fb2ba356e04ff2a6f7d96045a50dca8e39e02459fda2735448eca782ffd5645
        name: my-java-springboot
        resources: {}
status: {}
