apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: java-springboot-hello-qnbe
  namespace: burrzinga-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:d001fbb9bc8dd7a93fda8a3e813c56fd0537cd4c3107d54310f23796e4c966ca
        name: my-java-springboot
        resources: {}
status: {}
